
a:hover {
  color: pink;  
}
/* background color  */
body {
  background: white; 
}

/* navagation bar  */
nav {
  font-size: 16px; 
  font-family: Arial, Helvetica, sans-serif;
  color: black; 
  height: 0px  ;
  margin: 0px ;
  padding:0px ;
  
  
}
/* text alignment  */
p {
  text-align:left;
}






